{%extends 'base.html'%}
{% load static %}
{% static "pictures/hopepage1.jfif" %}" alt="No picture available" />
{% block content%}

<style>
    h3{
    font-family: "Arial", "Helvetica", "sans-serif";
    text-align: center;
    }
    p{
    font-size: 24px;
    font-family: "Arial", "Helvetica", "sans-serif";
    }

</style>


<h3><b>At Pawsome, we aim for all puppies on our site to find their forever homes with loving, caring and
    responsible owners.</h3></b>

<p>We are fully committed to creating a community where genuine, responsible and ethical sellers can advertise their
    healthy, well-socialised puppies and dogs which have been bred in good welfare conditions.</p>

<p>We know that choosing your new puppy is one of the most exciting things you will ever do but it is also an incredibly
    expensive and extremely important commitment for you and your family, and that is why our website is
    designed to make the process as simple as possible. We do request to do a home check and do go through a application
    process
    to ensure not only you as a buyer are happy but that it is an suitable environment for the puppy.</p>

<p>The welfare of the puppies and dogs advertised on our website is of paramount importance to us and we believe this is
    reflected in how we operate. We fully uphold and agree to meet the government-approved minimum standards as laid
    down by PAAG (The Pet Advertising Advisory Group) which was set up in 2001 to combat growing concerns regarding the
    irresponsible advertising of pets for sale. PAAG aims to raise public awareness of the need to act responsibly when
    looking to buy pets advertised on websites and the need to carry out research before making a purchase.</p>
    <p>
        {% load static %} <img src="{% static "pictures/homepage1.jfif" %}" class="card-img-top" alt="No picture available"/> 
    </p>
{%endblock content%}



